
/* Parent div, runt allt */
.container{
  display: flex;
  width: 100%;
   background-color: #f0f0f0; 
}

/* Div runt hela Product-komponenten*/
.wrapper-all_products{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  margin-left:15%;
}

/* Div runt allt en enskild produkt innehåller */
  .product-container {
    display: flex;
    flex-wrap: wrap; /* Produkter kommer att gå till nästa rad om de inte får plats */
    justify-content: space-between; /* Jämnt fördelade produkter på raden */
    justify-content: flex-start;
    width: 100%;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
    max-width: 25rem;
    min-width: 15rem;
    margin-right: 2rem;  /* Utrymme mellan produkterna */
    margin-bottom: 2rem; /* Utrymme mellan produkterna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Skugga runt varje produkt */
    border: 1px solid rgb(201, 201, 201); /* Grå ram runt varje produkt */
    
  }
  
  /* Div runt namn, pris och knapp*/
  .product-details {
    flex-grow: 1; /* Gör att denna del växer och tar upp allt tillgängligt utrymme */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Lägger köpknappen längst ner i produktdetaljerna */
    line-height: 1.3;
    margin-left: 5px;
    margin-right: 5px;
  }

  .product-image img {
    width: 100%; /* Fyll hela bredden av produktens container */
    height: auto; /* Behåll bildens proportioner */
  }

  .product-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 10px;
  }

  /* Div med Order och Cart-komponenterna i sig*/
.aside{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
  
/* CART */
.cart-div{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.3;
  
}


  /* ORDERS */
.order-div{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.3;
}